[Unit]
Description=Serdal.ru: run Laravel scheduler every minute

[Timer]
OnCalendar=minutely
AccuracySec=1s
Persistent=false

[Install]
WantedBy=timers.target
